.git
.github
.idea
.vscode

target
logs
tmp
out
uploads

*.iml
*.iws
*.ipr
*.log

.env
.env.*
application-local.yml
application-local.yaml
application-local.properties
application-secret.yml
application-secret.yaml
application-secret.properties

README.md
